body {
  margin: 0px;
	padding: 0px;
	font-family: Roboto !important;

}

.btn{
   border: none; 
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    background-color: #4CAF50;
}

.header {
  margin: auto auto 50px auto;
    width: 700px;
    text-align:center;
}
h1 a{
  color: #86d291;
  text-align: center;
	font-family: Roboto !important;
	font-size: 86px !important;
	font-weight: 200 !important;
  text-decoration: none;
  margin: auto;
  
}
body{
  background-color:rgb(234, 255, 244);
}
h1{
  color: #86d291;
  text-align: center;
	font-family: Roboto !important;
	font-size: 46px !important;
	font-weight: 200 !important;
  text-decoration: none;
  margin: auto;
}
.validation{
  color: #86d291;
  text-align: center;
	font-family: Roboto !important;
	font-size: 2px !important;
	font-weight: 200 !important;
  text-decoration: none;
  margin: auto;
}

form.formSearch {  
	margin: auto auto 10px auto;
  width: 440px;
}

input {
	padding: 5px;
	font-size: 16px;
}
input.text {
	width: 280px;
	height: 42px;
	color: #cdcdcd;
	border: solid #e1e1e1 1px;
  
  
}

input.btn {
	width: 150px;
	height: 42px;
	background: #86d291;
	color: #ffffff;
	border: none;
  margin: 0px;
  padding: 0px;
}

input.btn-check {
  	width: 150px;
	height: 42px;
	background: #86d291;
	color: #ffffff;
	border: none;
  margin: 0px;
  padding: 0px;
}

.topTable{
  overflow-y:scroll;
  overflow-x:hidden;
  height:350px;
}
.bottomTable{
  overflow-y:scroll;
  overflow-x:hidden;
  height:350px;
}
table {
	margin: 40px auto;
  width: 1000px;
  	
}
.g-recaptcha{

}
table, th, td {
  border: 1px solid #d8d8d8;
	border-collapse: collapse;
  background-color:white;
}
th {
	background: #838489;
	text-align: left;
	color: #ffffff;
	padding: 5px;
	border-left: solid #757780 1px;
	height: 30px;
	
	
}
td {
	width:auto;
	padding: 5px;
  height: 10px;
}

.loginForm {
  margin: auto;
  text-align: center;
}

.loginForm input.btn{
  width: 137px;
}

.loginForm input.text{
  margin: 0px 0px 10px 0px;
}